.paymentChannelChartContainer {
  display: inline-block;

  .paymentChannelChart {
    width: fit-content;
  }

}

.amountOfTransactionsBySpendChartContainer {
  display: inline-block;

  .amountOfTransactionsBySpendChart {
    width: fit-content;
  }
}
