.allTransactionContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  // justify-content: center;
  // align-content: center;
  // flex-direction: column;

  .transactionCard {
    margin: auto;
    border-bottom: 2px solid rgb(224, 221, 221);
    // width: 800px;
    margin-bottom: 50px;
    display: flex;
    height: 100px;
  }

  .name {
    width: 300px;
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .amount {
    width: 100px;
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .category {
    width: 300px;
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .pending {
    width: 100px;
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .paymentChannel {
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .transactionType {
    height: 100px;
    // border: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
