@import '../Variables/Variables.scss';

.allTransactionContainer {
  display: flex;
  flex-direction: column;
  position: relative;

  .transactionCard {
    margin: auto;
    border-bottom: 2px solid rgb(224, 221, 221);
    margin-bottom: 50px;
    display: flex;
    height: 100px;
  }

  .name {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .amount {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .category {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .pending {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .paymentChannel {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  .transactionType {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.typeOfTransactions {
  margin-top: 10px;

}

.buttonPressed {
  background-color: #5224D8;

  &:hover {
    background-color: $purpleColour;
    cursor: pointer;
  }

  @media (max-width: 450px) {
    width: 30%;
    // min-width: 30%;
  }
}

.normalButton {

  @media (max-width: 450px) {
    width: 30%;
    // min-width: 30%;
  }
}

.tableContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 80%;
}

.responsive-table {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding-right: 40px;

  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .table-header {
    background-color: $purpleColour;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  .col-1 {
    flex-basis: 30%;
  }

  .col-2 {
    flex-basis: 20%;
  }

  .col-3 {
    flex-basis: 25%;
  }

  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    .table-row {}

    li {
      display: block;
    }

    .col {

      flex-basis: 100%;

    }

    .col {
      display: flex;
      padding: 10px 0;

      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.modalAndTransactionContainer {
  display: flex;
}

.modalAndTransactionContainerModalShown {
  display: flex;
  // margin-left: 105px;

  // border: 2px solid red;
  @media (min-width: 450px) {
    // display: none;
    width: 70%;
    margin-left: 105px;
  }

  @media (max-width: 450px) {
    // display: none;
  }
}

.transactionsAndModal {
  // display: flex;
}

.transactionsAndModalFalse {
  border: none;
}

.allButtonsModalShown {
  margin-left: 105px;
  padding-top: 20px;

  @media (max-width: 450px) {
    margin-left: 0px;
  }
}

.allButtons {
  padding-top: 20px;

  @media (max-width: 450px) {}
}
