.navbar-left {
  text-align: left;
}

.navbar-right {
  text-align: right;
}

.navbar-center {
  text-align: center;
}

.title {
  padding-left: 15px;
  color: white;

  @media (max-width: 450px) {
    padding: 0;
  }
}

.navbar {
  background-color: rgb(87, 146, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;

  // @media (max-width: 450px) {}

}

.nav-links {
  display: flex;

  @media (max-width: 450px) {
    padding-left: 0;
  }
}

.nav-item {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;

  @media (max-width: 450px) {
    padding: 0;
  }
}

.signOutButton {
  height: 30px;
  background-color: #d55858;
  width: 100px;
  display: inline-block;
  margin: auto;
  margin-right: 10px;

  &:hover {
    background-color: black;
    cursor: pointer;
  }

  @media (max-width: 450px) {
    padding-left: 0;
    font-size: smaller;
  }
}
