.allProfileContent {
  .updateDetailsForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 2px solid red;
    // width: 90%;

    .detailsSection {
      // border: 2px solid blue;
      width: 600px;
      padding-bottom: 30px;
      display: flex;

      @media (max-width: 500px) {
        width: 350px;
      }

      .updateDetailsLabel {
        // border: 2px solid red;
        border-radius: 12px;
        width: 180px;
        margin: auto;

        @media (max-width: 500px) {
          width: 190px;
        }
      }

      .detailsInput {
        // border: 2px solid blue;
        border-radius: 4px;
        width: 600px;
        height: 30px;

        // padding-bottom: 0px;
        @media (max-width: 500px) {
          margin-left: 5px;
        }
      }
    }
  }
}
