.singleTransactionModalContainer {
  right: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  // border-left: 2px solid gray;
  padding-left: 20px;
  width: 400px;

  @media (max-width: 450px) {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    width: 80%;
    padding-right: 20px;
    margin-right: 18px;
    margin-top: 50px;
  }
}

.transactionMerchantImage {
  border: 2px solid black;
  margin-top: 10px;
}
